@model IEnumerable<webscaffolder.Areas.School.Models.EductionOffice>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1n){text-align: right;}
</style>
<h2>Index</h2>
<h4>EductionOffice</h4>
<p>
    @Html.ActionLink("Create New", "EductionOfficeCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.EductionOfficeName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EductionOfficeEdit", new { id=item.EductionOfficeID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EductionOfficeName)
        </td>

    </tr>
}

</table>
